<%= render :partial => 'componentsidebar' %>

<div class="container">
  <h1><%= @name %></h1>









<% @tasks.each do |task| %>
<button class="btn btn-custom btn-lg" data-toggle="modal" data-target=<%= "#myModal#{task.id}" %>>
  <%= task.name %>
  <br>
  <%= task.check_status %>
  <br>
  <% if task.deadline == nil %>
  <%= "No Deadline" %>
  <% else %>
  <%= task.deadline.strftime("%b %d, %Y") %>
  <% end %>
</button>



<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id=<%= "myModal#{task.id}" %>>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">create a new project</h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
         <% unless task.document.url == "/documents/original/missing.png" %>
         <%= link_to "View Attachment" ,task.document.url, :target => "_blank" %>
         <% end %>
         <br>
         <%= form_for task, :method => 'put', 
         :html => { :multipart => true } do |form| %>
         <%= form.hidden_field :task_id, :value => task.id %>
         <%= form.hidden_field :document, :value => "delete_attachment" %>
         <%= form.submit "Delete Attachment" %>
         <% end %>
         <% if task.status == "Complete" %>
         <%= form_for task, :method => 'put' do |form| %>
         <%= form.hidden_field :status, :value => "Incomplete" %>
         <%= form.submit "Mark As Incomplete"%>
         <% end %>
         <% else %>
         <%= form_for task, :method => 'put' do |form| %>
         <%= form.hidden_field :status, :value => "Complete" %>
         <%= form.submit "Mark As Complete"%>
         <% end %>
         <%= form_for task, :method => 'put', 
         :html => { :multipart => true } do |form| %>
         <%= form.file_field :document %>
         <%= form.submit "Add Attachment" %>
         <% end %>
         <% available_users_task = @available_users - task.users %>
         <% available_users_task.each do |user|%>
         <li> <%= user.email %> 
          <%= form_for task, :method => "PUT" do |f| %>
          <%= f.hidden_field :user_id, :value => user.id %>
          <%= f.submit "Add" %>
          <% end %>
          <% end %>
        </li>
        <% end %>
        <%= link_to "Delete", task, :method => :delete %>

      </li>
      <% task.users.each do |user| %>
      <%= user.email %>
      <% end %>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
  </div>
</div>
</div>
</div>



<% end %>




</div>













<br>














<%= form_for @task, :html => { :multipart => true } do |f|%>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :description %>
<%= f.text_area :description %>
<%= f.label :deadline %>
<%= f.date_field :deadline %>
<%= f.label :avatar %>
<%= f.file_field :avatar %>
<%= f.hidden_field :component_id, :value => @component.id %>

<%= f.submit "Create Task" %>
<% end %>

<h3>Users in Component</h3>
<% @component.users.each do |user|%>
<%= user.email %>
<% end %>

<h3> Add User to Component </h3>

<% available_users_component = @available_users - @component.users %>

<ol> <% available_users_component.each do |user|%>
  <li> <%= user.email %> 
    <%= form_for @component, :method => "PUT" do |f| %>
    <%= f.hidden_field :user_id, :value => user.id %>
    <%= f.submit "Add" %>
    <% end %>
  </li>
  <% end %>

</ol>
<%= link_to "Home", root_path  %>
<%= link_to "Back to Project Page", @component.project %>