<%= render :partial => 'componentsidebar' %>

<div class="container">
<h1><%= @name %></h1>




</div>





















<ol>
<% @tasks.each do |task| %>
<li><%= link_to task.name, task %>
  <%= link_to "View Attachment" ,task.document.url, :target => "_blank" %>






 <br>
 <%= task.check_status %>
 <%= task.deadline %>
 
 <%= form_for @task, :url => '/tasks/task.id', :method => 'put', 
  :html => { :multipart => true } do |form| %>
<%= form.hidden_field :task_id, :value => task.id %>
<%= form.hidden_field :document, :value => "delete_attachment" %>
<%= form.submit "Delete Attachment" %>
<% end %>

  



<%= form_for @task, :url => '/tasks/task.id', :method => 'put', 
  :html => { :multipart => true } do |form| %>
  <%= form.label :complete %>
  <%= form.radio_button(:status, "Complete") %>
  <%= form.label :incomplete %>
  <%= form.radio_button(:status, "Incomplete") %>
  <%= form.file_field :document %>
  <%= form.hidden_field :task_id, :value => task.id  %>
  <%= form.submit "Update Task" %>
<% end %>

<%= link_to "Delete", task, :method => :delete %>

</li>
<% end %>
</ol>


<%= form_for @task, :html => { :multipart => true } do |f|%>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :description %>
<%= f.text_area :description %>
<%= f.label :deadline %>
<%= f.date_field :deadline %>
<%= f.label :avatar %>
<%= f.file_field :avatar %>
<%= f.hidden_field :component_id, :value => @component.id %>

<%= f.submit "Create Task" %>
<% end %>

<h3>Users in Component</h3>
<% @component.users.each do |user|%>
<%= user.email %>
<% end %>

<h3> Add User to Component </h3>

<% @available_users = @available_users - @component.users %>

<ol> <% @available_users.each do |user|%>
<li> <%= user.email %> 
      <%= form_for @component, :url => "/components/:id", :method => "PUT" do |f| %>
      <%= f.hidden_field :component_id, :value => @component.id %>
      <%= f.hidden_field :user_id, :value => user.id %>
      <%= f.submit "Add" %>
      <% end %>
</li>
<% end %>

</ol>
<%= link_to "Home", root_path  %>