<div class="container">
	<h1>projects
		<button class="btn btn-custom2 btn-md pull-right" data-toggle="modal" data-target="#myModalInvite">
			invite friends
		</button>
		<button class="btn btn-custom btn-md pull-right" data-toggle="modal" data-target="#myModal">
			new project
		</button>
		</h1>



		<%= search_form_for @search do |f| %>
		<div class="field">
			<%= f.label :name_cont, "Search Projects" %>
			<%= f.text_field :name_cont %>
			<%= f.submit "Search" %>
			<% end %>
			<table class="table table-hover">
				<thead>
					<tr>
						<th><%= sort_link @search, :name, "Name" %></th>
						<th>Status</th>
						<th><%= sort_link @search, :deadline, "Deadline" %></th>
						<th><%= sort_link @search, :updated_at, "Modified" %></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @projects.each do |project| %>
					<tr>
						<td><%= link_to project.name, project %></td>
						<td>
							<% if project.check_status == "Empty" %>
							<span class="label label-default"><%= project.check_status %></span>
							<% elsif project.check_status == "Complete" %>
							<span class="label label-primary"><%= project.check_status %></span>
							<% elsif project.check_status == "On Track" %>
							<span class="label label-success"><%= project.check_status %></span>
							<% elsif project.check_status == "Off Track" %>
							<span class="label label-danger"><%= project.check_status %></span>
							<% end %>
						</td>
						<td><% if project.deadline == nil %>
								<%= "No Deadline" %>
							<% else %>
							<%= project.deadline.strftime("%b %d, %Y") %>
							<% end %></td>
						<td><%= project.updated_at.strftime("%b %d, %Y %I:%M %P") %></td>
						<!-- remember to add popup to confirm deletetion for this, and components and tasks too -->
						<td> <%= time_ago_in_words(project.updated_at) %> ago</td>

						<td><%= link_to "Delete", project, :method => :delete %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">create a new project</h4>
						</div>
						<div class="modal-body">
							<div class="text-center">
								<%= form_for(@project) do |f|%>
								<%= f.label :name, "name" %>
								<br>
								<%= f.text_field :name %>
								<br>
								<%= f.label :description, "description" %>
								<br>
								<%= f.text_area :description %>
								<br>
								<%= f.label :deadline, "deadline" %>
								<br>
								<%= f.date_field :deadline %>
								<br>
								<%= f.hidden_field :user_id, :value => current_user.id %>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">close</button>
							<%= f.submit "create project", :class => "btn btn-primary" %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="myModalInvite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">invite friends</h4>
						</div>
						<div class="modal-body">
							<div class="text-center">
								<%= form_tag ('/invite_user') do %>
				<%= label_tag :name %>
				<%= text_field_tag :name %>
				<br>
				<%= label_tag :email %>
				<%= email_field_tag :email %>
				<br>
				<%= hidden_field_tag :sender_id, current_user.id %>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">close</button>
							<%= submit_tag "invite", :class => "btn btn-primary" %>
							<% end %>
						</div>
					</div>
				</div>
			</div>



		</div>
