<h1>Getonnit</h1>

Welcome <%= current_user.email %>

<% @projects.each do |project| %>
<li>
	<%= link_to project.name, project %> 
	<%= project.check_status %>
	<%= project.deadline %>
	
</li>
<% end %>



<%= link_to "New Project", 'projects/new' %>


<%= link_to "Log Out", destroy_user_session_path, method: :delete %>