<h1><%= @name %></h1>


<h3>Components</h3>
<ol>
	 <% @components.each do |component| %>
	 <li>

	 <%= link_to component.name, component %>
	
		<%= component.check_status %>
		<% progress = component.check_progress %>
		completed
		<%= progress[:completed_ratio] %> 
		overdue 
		<%= progress[:overdue_tasks_ratio]%> 

		<%= link_to "Delete", component, :method => :delete %>
	</li>
		
	<% end %>
	</ol>

<h4>New Component</h4>
	<%= form_for(@component) do |f|%>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :description %>
	<%= f.text_area :description %>
	<%= f.label :deadline %>
	<%= f.date_field :deadline %>
	<%= f.hidden_field :project_id, :value => @project.id %>
	<%= f.submit "Create Component" %>
	<% end %>

	<br/><br/>

	This project currently has users:

	<ul>
		<% @project.users.each do |user| %>
		<li><%=user.email%></li>
		<% end %>
	</ul>

	<%= form_tag("/projects/#{@project.id}", :method => 'PUT') do %>
	<%= label_tag "User Emails:" %>
	<%= email_field_tag :emails %>
	<%= submit_tag "Add" %>
	<% end %>

	<br/><br/>

	<h3>Messages</h3>
<ol>
	<% @messages.each do |message| %>
	<li>
	<%= (User.find(message.user_id)).email %> : <%= message.body %>
	</li>
	<% end %>
</ol>

<%= form_for @message do |f| %>
<%= f.label :message %>
<%= f.text_field :body %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.hidden_field :project_id, :value => @project.id %>
<%= f.submit "Send" %>
<% end %>

	<%= link_to "Home", root_path  %>