<%= render :partial => 'projectsidebar' %>

<div class="container">
	<h1><%= @name %></h1>
	<h3>components</h3>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>name</th>
				<th>status</th>
				<th>progress</th>
				<th>deadline</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @components.each do |component| %>
			<% progress = component.check_progress %>
			<% completed = progress[:completed_ratio] %>
			<% overdue = progress[:overdue_tasks_ratio] %>
			<tr>
				<!-- /components/component.id -->
				<td class="col-md-2"><%= link_to component.name, component %></td>
				<td class="col-md-1"> <%= component.check_status %> </td>
				<td class="col-md-6">
					<% if completed.nan? || overdue.nan? %>
					no tasks added
					<% else %>
					<div class="progress">

						<% if completed > 0.0 %>
						<%= content_tag(:div, "#{completed.to_i}%", :class => "progress-bar progress-bar-success", :style => "width: #{completed}%") %>
						<% end %>
						<% if overdue >= 20.0 %>
						<%= content_tag(:div, "#{overdue.to_i}%", :class => "progress-bar progress-bar-danger", :style => "width: #{overdue}%") %>
						<% elsif overdue > 0.0 %>
						<%= content_tag(:div, "#{overdue.to_i}%", :class => "progress-bar progress-bar-warning", :style => "width: #{overdue}%") %>
						<% else %>
						<div></div>
						<% end %>
					</div>
				</td>
				<% end %>
				<td class="col-md-2"><% if component.deadline == nil %>
								<%= "No Deadline" %>
							<% else %>
							<%= component.deadline.strftime("%b %d, %Y") %>
							<% end %></td>
				<!-- remember to add popup to confirm deletetion for this, and components and tasks too -->
				<td class="col-md-1"><%= link_to "Delete", component, :method => :delete %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
