<a class="add-members">
  <div class="ui black huge launch right attached button sidebar-button">
       <span class="glyphicon glyphicon-user"></span> 
      <span class="sidebar-text" style="display: none;">add members</span>
    </div>
</a>
<br>
<br>
<a class="message">
  <div class="ui black huge launch right attached button sidebar-button">
       <span class="glyphicon glyphicon-envelope"></span> 
      <span class="sidebar-text" style="display: none;">messages</span>
    </div>
</a>
<br>
<br>
<a class="new-component">
  <div class="ui black huge launch right attached button sidebar-button">
       <span class="glyphicon glyphicon-plus"></span> 
      <span class="sidebar-text" style="display: none;">new component</span>
    </div>
</a>
  
<div class="ui vertical demo sidebar inverted menu members-sidebar">
  <div class="item">
    <h2><div class="text-center"><span class="glyphicon glyphicon-user"></span> members</div></h2>
  This project currently has users:
  <br>
    <table class="table">
      <thead>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <% @project.users.each do |user| %>
        <tr>
          <td><%=user.first_name%> <%= user.last_name %></td>
          <td><%= user.email %></td>
        </tr>
        <% end %>
      </tbody>
    </table>


  <%= form_tag("/projects/#{@project.id}", :method => 'PUT') do %>
  <%= label_tag "User Emails:" %>
  <%= email_field_tag :emails %>
  <%= submit_tag "Add" %>
  <% end %>
    <div class="menu">
      <a class="item">About</a>
      <a class="item">Contact Us</a>
    </div>
  </div>
</div>